{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "complexity": [2, 5],
    "import/export": 0,
    "import/prefer-default-export": 0,
    "max-lines": [2, 300],
    "max-statements": [2, 20],
    "no-alert": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-use-before-define": 0,
    "react/jsx-fragments": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "semi": 2,
    "space-before-function-paren": 0
  }
}
